<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class "container">
    <div class "row">
      <div class "col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control article-input"%>
        </p>
  
        <p>
          <%= f.label :text %><br>
          <%= f.text_area :text, class: "form-control article-textarea1"%>
        </p>
       
        <p>
          <%= f.submit class: 'btn btn-success'%>
      </p>
    </div>
  </div>
<% end %>